@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

a{
  text-decoration: none;

}

#toggle{
  display: none;
}

.display1 {
    display: flex;
    align-items: right;
    justify-content: space-between;
    flex-direction: row;
    
}
.navbaar{
  display: flex;
  flex-direction: row;
  gap: 600px;
}
.display{
  
    display: flex;
    background:white;
    flex-direction: column;
    background-image: url('18fd0e74de1f3f0e9a2aca7e8e52232a.jpg');

}

label {
    width: 50px;
    height: 25px;
    border-radius: 333px;
    background: #F3F3F3;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 33px;
    background: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
    -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
svg {
    width: 15px;
    position: absolute;
}
.sun {
    color: #FFD600;
    margin-top: 0%;
    opacity: 1;
}
.moon {
    margin-top: -150%;
    color: white;
    opacity: 0;
}

input[type=checkbox]:checked + .display {
    background: #2C2C2F;
}
input[type=checkbox]:checked + .display label {
    background: #1F1F21;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
}
input[type=checkbox]:checked + .display label .circle {
    left: 100%;
    transform: translate(-110%, -50%);
    background: #2C2C2F;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
    -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
}
input[type=checkbox]:checked + .display label .circle .sun {
    margin-top: 150%;
    opacity: 0;
}
input[type=checkbox]:checked + .display label .circle .moon {
    margin-top: 0%;
    opacity: 1;
}
input[type=checkbox]:checked + .display .weather-input .search-btn  {
  background: #484646;
}
input[type=checkbox]:checked + .display .borderforest  {
  background: #484646;
}
input[type=checkbox]:checked + .display  .weather-data .current-weather  {
  background: #484646;
}
input[type=checkbox]:checked + .display  .weather-data1 .current-weather1  {
  background: #484646;
}
input[type=checkbox]:checked + .display  h1  {
  background: #484646;
}
input[type=checkbox]:checked + .display  .weather-container  {
  background: #484646;
}
input[type=checkbox]:checked + .display  .data p {
  background: yellow;
}
label:active .circle {
    width: 200px;
}
h1 { 
	padding-top: 10px;
	display: flex;
    background:#2a4786;
	font-size: 1.75rem;
    text-align: center;
	width: 500px;
	height: 50PX;
	color: #F3F3F3;
	justify-content: center;

}
.container {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 100px;
    padding-right: 10px;
  }
  .weather-input {
    width: 550px;
  }
  .weather-input input {
    height: 46px;
    width: 100%;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border: 1px solid #100f0f;
    border-radius: 30px;
    
  }
  .weather-input input:focus {
    padding: 0 16px;
    border: 2px solid #5372F0;
  }
  .weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #484646;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background:#D9D9D9;
    transition: 0.2s ease;
        border-radius: 20px;

  }
  .weather-input .search-btn:hover {
    background: yellow;
  }
  .weather-input .location-btn {
    background: #6C757D;
  }
  .weather-input .location-btn:hover {
    background: #5c636a;
  }
  .weather-data {
    width: 100%;
  }
  .weather-data .current-weather {
    color: #fff;
    background:#2a4786 ;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
    height: 300PX;
    box-shadow: 10PX 10px 10px rgba(0, 0, 0, 0.7);

  }
  
  .current-weather h2 {
    font-weight: 700;
    font-size: 1.7rem;
  }
  .weather-data h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
  }
  .current-weather .icon {
    text-align: center;
  }
  .current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
  }
  .current-weather .icon h6 {
    margin-top: -10px;
    text-transform: capitalize;
  }
  .weather-data1{
    width: 500PX;
    margin-left: 50PX;
    margin-bottom: 100px;
  }
  .weather-data1 .current-weather1 {
    color: #fff;
    background:#2a4786 ;
    border-radius: 5px;
    padding: 20px 10px 20px 20px;
    display: flex;
    justify-content: space-between;
    height: 300PX;
    margin-right: 50PX;
    box-shadow: 10PX 10px 10px rgba(0, 0, 0, 0.7);
  }
  .ligne{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .datetime {
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #444444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-right: 10px yellow solid;
    width: 400px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }
  
  .time {
    font-size: 3em;
    color:yellow;
    text-align: center;
  }
  
  .date {
    margin-top: 50px;
    font-size: 1.75em;
  }
  .section3{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .borderforest{
    display: flex;
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #2a4786;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 700px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    height:500PX;
    flex-direction: row;
    box-shadow: 10PX 10px 10px rgba(0, 0, 0, 0.7);
  }
  .days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
  }
  .days-forecast .weather-cards {
    flex-direction: row;
    display: flex;
    gap: 10px;
  }
  .weather-cards .card {
    color: #fff;
    padding: 18px 16px 16px 10px;
    list-style: none;
    width: calc(100% / 5);
    background: #6C757D;
    border-radius: 5px;
    height: 400PX;
  }
  .weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
  }
  .DAY{
    display: flex;
    justify-content: center;
    justify-items: center;
  }
    .weather-container{
      background: rgba(251, 251, 251, 0.19);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.1px);
      -webkit-backdrop-filter: blur(6.1px);
      
    
 
    padding: 20px 10px 20px 20px;
    display: flex;
    justify-content: space-between;
    height: 350PX;
   
    width: 80%;
    margin-left: 120px;
    margin-bottom: 50PX;
    }


  .POSITION{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  img{
    display:flex;
    justify-content: right;
    justify-items: right;
  }
  .ccc{
    display: flex;
    justify-self: left;
    width: 140PX;
    height: 140PX; 
  }
  .footer{
   
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(238, 234, 234);
    height: 200px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}